[Unit]
Description=dde-keyring-checker service
CollectMode=inactive-or-failed

Wants=dde-session-daemon.target
After=dde-session-daemon.target

[Service]
Type=simple
ExecStart=/usr/bin/dde-keyring-checker
