[Unit]
Description=dde-keyring-checker service

Wants=dde-session-daemon.target
After=dde-session-daemon.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/dde-keyring-checker
