[Unit]
Description=dde-session-daemon service
RefuseManualStart=no
RefuseManualStop=no

Requisite=dde-display.target
After=dde-display.target

Requires=dbus.socket
After=dbus.socket

Requires=dde-session-daemon.target
Before=dde-session-daemon.target

Requisite=dde-session-initialized.target
After=dde-session-initialized.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/lib/deepin-daemon/dde-session-daemon
TimeoutStartSec=infinity
Slice=services.slice
