[Unit]
Description=dde-session-daemon service
RefuseManualStart=no
RefuseManualStop=no
StartLimitIntervalSec=0

Requisite=dde-session-manager.target
After=dde-session-manager.target

Requisite=dde-display.target
After=dde-display.target

Requisite=dde-session-initialized.target
Before=dde-session-initialized.target

# equal Service Type is dbus
Requires=dbus.socket
After=dbus.socket

Requires=dde-session-daemon.target
Before=dde-session-daemon.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/lib/deepin-daemon/dde-session-daemon
TimeoutStartSec=infinity
Slice=services.slice
Restart=always
RestartSec=1s
