[Unit]
Description=dde-display target

BindsTo=dde-display.service
After=dde-display.service

Requisite=dde-session-initialized.target
Before=dde-session-initialized.target
