[Unit]
Description=dde session daemon service
RefuseManualStart=no
RefuseManualStop=no
#OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed
StartLimitIntervalSec=60s
StartLimitBurst=30

PartOf=dde-session-manager.target
After=dde-session-manager.target
Before=dde-session-initialized.target

# equal Service Type is dbus
Requires=dbus.socket
After=dbus.socket

Requires=dde-session-daemon.target
PartOf=dde-session-daemon.target
Before=dde-session-daemon.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/lib/deepin-daemon/dde-session-daemon
TimeoutStartSec=infinity
Slice=services.slice
Restart=always
RestartSec=1s
