[Unit]
Description=dde-session-daemon target

Requisite=dde-session-pre.target
After=dde-session-pre.target

Requisite=dde-session-initialized.target
PartOf=dde-session-initialized.target
Before=dde-session-initialized.target
