[Unit]
Description=dde-display service
RefuseManualStart=no
RefuseManualStop=no
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed

Requires=dde-display.target
Before=dde-display.target

Requires=dbus.socket
After=dbus.socket

Requires=dde-session-daemon.target
Before=dde-session-daemon.target

Requisite=dde-session-initialized.target
After=dde-session-initialized.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/startdde
ExecStopPost=/usr/lib/libexec/dde-session-ctl --shutdown
TimeoutStartSec=infinity
Slice=services.slice
