[Unit]
Description=dde session daemon

BindsTo=dde-session-daemon.service
After=dde-session-daemon.service

Requisite=dde-session-initialized.target
PartOf=dde-session-initialized.target
Before=dde-session-initialized.target
