[Unit]
Description=dde-display service
RefuseManualStart=no
RefuseManualStop=no
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed

Requisite=dde-session-manager.target
After=dde-session-manager.target

Requisite=dde-session-initialized.target
Before=dde-session-initialized.target

# equal Service Type is dbus
Requires=dbus.socket
After=dbus.socket

Requires=dde-display.target
Before=dde-display.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/startdde
ExecStopPost=/usr/lib/libexec/dde-session-ctl --shutdown
TimeoutStartSec=infinity
Slice=services.slice
