[Unit]
Description=dde desktop service
RefuseManualStart=no
RefuseManualStop=no
#OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed
StartLimitIntervalSec=60s
StartLimitBurst=30

Requisite=dde-session-manager.target
PartOf=dde-session-manager.target
After=dde-session-manager.target
Before=dde-session-initialized.target



[Service]
Type=simple
ExecStart=/usr/bin/dde-desktop
TimeoutStartSec=infinity
Slice=components.slice
Restart=always
RestartSec=1s
