[Unit]
Description=dde polkit agent service
RefuseManualStart=no
RefuseManualStop=no
#OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed
StartLimitIntervalSec=10s
StartLimitBurst=30

Requisite=dde-session-initialized.target
PartOf=dde-session-initialized.target
After=dde-session-initialized.target

Requires=dde-session-daemon.target
After=dde-session-daemon.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-1-dde/dde-polkit-agent
TimeoutStartSec=infinity
Slice=components.slice
Restart=always
RestartSec=300ms
