[Unit]
Description=dde-display service
RefuseManualStart=no
RefuseManualStop=no
StartLimitBurst=3
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed

Requires=dbus.socket
After=dbus.socket

Requisite=dde-session-initialized.target
PartOf=dde-session-initialized.target
Before=dde-session-initialized.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/startdde
TimeoutStartSec=infinity
Slice=services.slice
Restart=always
RestartSec=1s

