[Unit]
Description=dde-session target
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

Requires=dde-session-initialized.target
After=dde-session-initialized.target

BindsTo=graphical-session.target
Before=graphical-session.target