[Unit]
Description=dde-session-initialized target, task to initialize the desktop environment.
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

BindsTo=dde-session-pre.target
After=dde-session-pre.target

BindsTo=dde-session.target
After=dde-session.target
