[Unit]
Description=deepin Session
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

Requires=dde-session-initialized.target
After=dde-session-initialized.target

Requires=dde-session-manager.service

BindsTo=graphical-session.target
Before=graphical-session.target