[Unit]
Description=deepin Session X11 services
DefaultDependencies=no

Requisite=dde-session-initialized.target
After=dde-session-initialized.target
PartOf=dde-session-initialized.target

Requisite=dde-session-x11-services-ready.target
Before=dde-session-x11-services-ready.target
PartOf=dde-session-x11-services-ready.target
