[Unit]
Description=dde-session target
DefaultDependencies=no

BindsTo=dde-session-manager.target
After=dde-session-manager.target

Wants=dde-session@wayland.service
Wants=dde-session@x11.service
