[Unit]
Description=dde-session-shutdown service, trigger shutdown of a deepin Session
CollectMode=inactive-or-failed

PartOf=dde-session.target

[Service]
Type=oneshot
ExecStart=/usr/lib/libexec/dde-session-ctl --shutdown
