[Unit]
Description=dde-session-manager target
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

Requisite=dde-session-initialized.target
Before=dde-session-initialized.target

BindsTo=dde-session-manager.service
After=dde-session-manager.service