[Unit]
Description=dde-session-initialized target, task to initialize the desktop environment.
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

Requires=dde-session-pre.target
After=dde-session-pre.target

Requires=dde-session-manager.target

Requisite=dde-session.target
Before=dde-session.target
