[Unit]
Description=dde-session-x11 target
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace
DefaultDependencies=no
# Start happens explicitly
RefuseManualStart=no
# Stop happens by starting dde-session-shutdown.target
#RefuseManualStop=no

Conflicts=shutdown.target dde-session-shutdown.target

Requires=dde-session.target
After=dde-session.target