[Unit]
Description=dde-session-manager target
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

BindsTo=dde-session-manager.service
After=dde-session-manager.service
