[Unit]
Description=dde-session-manager service
RefuseManualStart=yes
RefuseManualStop=yes
OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed

Requisite=dde-session-initialized.target
Before=dde-session-initialized.target

Requires=dde-session-manager.target
Before=dde-session-manager.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/dde-session --systemd-service
ExecStopPost=/usr/lib/libexec/dde-session-ctl --shutdown
Slice=services.slice