[Unit]
Description=Startdde session bind service
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.deepin.Session
ExecStart=/usr/bin/dde-session --systemd-service
ExecStop=/usr/lib/libexec/dde-session-ctl --shutdown
Restart=on-failure

[Install]
WantedBy=default.target
