[Unit]
Description=dde-shell for DDE service
RefuseManualStart=no
RefuseManualStop=no
StartLimitBurst=3
CollectMode=inactive-or-failed

Requisite=dde-session-pre.target
After=dde-session-pre.target

PartOf=dde-session-core.target
Before=dde-session-core.target

Requires=dbus.socket
After=dbus.socket

# AM
Wants=org.desktopspec.ApplicationManager1.service

[Service]
Type=dbus
BusName=org.deepin.dde.Dock1
ExecStart=/usr/bin/dde-shell -C %I --serviceName=org.deepin.dde.shell -d org.deepin.ds.desktop
TimeoutStartSec=infinity
Slice=session.slice
Restart=always
RestartSec=1s
