[Unit]
Description=dde on X11
CollectMode=inactive-or-failed
# Only start if the template instance matches the session type (systemd >= 246)
ConditionEnvironment=XDG_SESSION_TYPE=%I

PartOf=dde-session-pre.target
Before=dde-session-pre.target

# Limit startup frequency more than the default
StartLimitIntervalSec=15s
StartLimitBurst=3

[Service]
Slice=session.slice
Type=notify
ExecStartPre=-/bin/sh -c 'cp -n /etc/xdg/kglobalshortcutsrc "$HOME/.config/kglobalshortcutsrc"; sed -i "s/deepin-kwin/kwin/g" "$HOME/.config/kglobalshortcutsrc"'
ExecStart=/usr/bin/kwin_x11 --replace
# Exit code 1 means we are probably *not* dealing with an extension failure
SuccessExitStatus=1

# On X11 we do not need to unset any variables

# On X11 we want to restart on-success (Alt+F2 + r) and on-failure.
Restart=always
# Do not wait before restarting the shell
RestartSec=500ms
# Kill any stubborn child processes after this long
TimeoutStopSec=5
